.PdbPage {
  padding: 2rem;
  background-color: #0a0a0c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid #222;
  padding-bottom: 1rem;

  h1 {
    margin: 0;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 900;
  }

  .StatusLabel {
    font-family: monospace;
    font-size: 0.7rem;
    color: #666;
    .Nominal {
      color: #10b981;
    }
  }
}

.StatsContainer {
  display: flex;
  gap: 32px;
  background: #1a1a1c;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid #333;

  .StatBlock {
    p:first-child {
      font-size: 0.65rem;
      text-transform: uppercase;
      color: #555;
      margin: 0;
    }
    .Value {
      font-size: 1.4rem;
      font-family: monospace;
      margin: 0;
      &.Blue {
        color: #60a5fa;
      }
      &.Green {
        color: #10b981;
      }
    }
  }
}


.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 16px 24px;
  border-radius: 12px;
  border: 1px solid #333;
}
